.navbar {
    font-size: 25px;
}

#secondary-nav {
    background-color: rgb(35, 47, 62);
}

#secondary-nav a:hover {
    color: gold !important;
}


/* Media Queries */

@media only screen and (max-width: 800px) {
    #secondary-nav {
        visibility: hidden;
    }
}